<div class="content-process">
  <div class="valves">
    <app-valve1></app-valve1>
    <app-valve2></app-valve2>
  </div>
  <div class="tanque-sensores">
    <div class="cup">
    </div>
    <div class="sensores">
      <div class="sn-text">
        <div class="sensor"></div>
        <span>S2</span>
      </div>
      <div class="sn-text">
        <div class="sensor"></div>
        <span>S1</span>
      </div>
    </div>
  </div>
  <div class="content-bar">
    <div class="bar">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>
  <div class="text-step">
    <h3>Paso 1</h3>
    <p>
      Al presionar el botón de inicio se enciende el motor para mover la cinta y se comienza a transportar el recipiente.
    </p>
  </div>
</div>
