<div class="container">
  <h1 class="title">Proceso de transporte y llenado de recipientes</h1>
  <span>Oriana Stefany Bautista Iscala C.I:27.675.632</span>
  <span>UNET - Automatización</span>
  <div class="element">
    <h3>Elementos del sistema</h3>
    <p>
      El sistema consta de los siguentes elementos: una cinta transportadora, un recipiente,
      dos sensores S1 (Sensor que detecta el recipiente)
      S2 (Sensor de nivel), dos válvulas V1 y V2.
    </p>
  </div>
  <div>
    <h2>Simulación</h2>
  </div>
  <div class="content-process">
    <div class="buttons">
      <button class="start" (click)="start()">START</button>
      <button class="end" (click)="end()">STOP</button>
    </div>
  </div>
  <app-step1 *ngIf="paso == 0"></app-step1>
  <app-step2 *ngIf="paso == 1"></app-step2>
  <app-step3 *ngIf="paso == 2"></app-step3>
  <app-step4 *ngIf="paso == 3"></app-step4>
  <app-step5 *ngIf="paso == 4"></app-step5>
</div>
