<div class="content-process">
  <div class="valves">
    <app-valve1 [open]="llave1"></app-valve1>
    <app-valve2 [open]="llave2"></app-valve2>
  </div>
  <div class="tanque-sensores">
    <div class="cup">
      <div class="water"></div>
    </div>
    <div class="sensores">
      <div class="sn-text">
        <div class="sensor sensor-active"></div>
        <span>S2</span>
      </div>
      <div class="sn-text">
        <div class="sensor"></div>
        <span>S1</span>
      </div>
    </div>
  </div>
  <div class="content-bar">
    <div class="bar">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>
  <div class="text-step">
    <h3>Paso 4</h3>
    <p>
      Después de 5 segundos la valvula 1 se cierra hasta activarse el sensor S2.
      Una vez el recipiente esta lleno, la valvula 2 se cierra y continua moviendose la cinta.
    </p>
  </div>
</div>

